/.env
venv/
server/Scripts/initial_data.sql.tar
__pycache__/
bin/
obj/
node_modules/
Staffing.Automation.sln.DotSettings.user
automation/Staffing.Tests.Scenarios/*.cs

# User-specific files
.suo
.user
.userosscache
.sln.docstates
.sqlite


#Tests
*.feature.cs
/.config/dotnet-tools.json
/specsync.json
.idea
.bin
.obj
.vs
.vscode
.testlog
.manifest